@import '../../variables';

.bottom-half {
  @include flex-center(column);
  top: 0;

  width: $appwidth;

  padding: 15px 0;

  & > * {
    width: 100%;
  }

  .user-bubbles {
    @include flex-center();
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-bottom: 2px;
    margin-top: -8px;

    .bubble {
      margin: 0 2px;
      background-color: #ccc;
      padding: 4px;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      text-align: center;
      line-height: 12px;
      font-size: 10px;
    }
  }

  .user-item {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px 0;

    &.debt-settled {
      border: 1px solid green;
      background-color: $bg-color;
    }

    &.button {
      height: 26px;
      @include flex-center();

      @media (hover: hover) {
        &:hover {
          cursor: pointer;
          background-color: $bg-color;
        }
      }
    }

    .no-edit {
      @include flex-center();
      justify-content: flex-start;

      padding: 5px 10px;
      margin: 0 4px;

      box-sizing: border-box;

      width: calc(100% - 8px);

      border-bottom: 1px solid #ccc;
      transition: 0.3s;

      position: relative;

      &.collapsed {
        border-bottom: 1px solid transparent;
        transition: 0.3s;
      }

      .name {
        width: 32%;
        margin-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .amounts {
        width: 60px;

        font-size: 10px;
        color: #666666;

        padding-top: 3px;
      }

      .arrow {
        position: absolute;
        right: 4px;
        top: 6px;
        height: 0;

        @media (hover: hover) {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .edits {
      padding: 10px;
      overflow: hidden;
      height: 94px;
      transition: 0.35s;

      &.collapsed {
        height: 0;
        padding: 0 10px;
        transition: 0.35s;
      }
    }

    &-inputs {
      & > * {
        width: 100%;
      }

      .segment {
        @include flex-center();
        height: 25px;

        .title {
          width: 40%;
          max-width: 57px;
          font-size: 0.75em;
          line-height: 22px;
        }

        .symbol {
          transform: translate(5px, -1px);
          width: 0;
        }

        .button {
          transform: translate(-25px, 0);
          width: 0;
          // z-index: 11;
        }
      }
    }
  }
}
