h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 6px; }

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 12px; }
  .app-card {
    margin-top: 10px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 12px;
    box-shadow: 3px 4px 5px #ccc; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.greytext {
  color: #666666; }

.top-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  width: 250px;
  border-bottom: 1px solid black;
  padding: 15px 0; }
  .top-half > * {
    width: 100%; }
  .top-half .segment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    width: 100%;
    margin: 5px 0px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; }
    .top-half .segment .symbol {
      transform: translate(18px, 0px);
      width: 0;
      font-size: 11px; }
  .top-half .menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #efefef;
    width: 100%;
    height: 16px;
    border-radius: 3px;
    overflow: hidden;
    transition: 1s; }
    .top-half .menu-bar .tiny {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 10px;
      color: #515151;
      text-align: center;
      text-transform: capitalize; }
    @media (hover: hover) {
      .top-half .menu-bar:hover {
        cursor: pointer; } }
  .top-half .total-details {
    height: 98px;
    transition: 0.35s;
    overflow: hidden; }
    .top-half .total-details.include-clear-button {
      height: 120px; }
    .top-half .total-details.collapsed {
      height: 0px;
      transition: 0.45s; }

.input-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 95%;
  min-height: 45px;
  max-height: 45px;
  border-radius: 5px;
  background-color: white;
  color: black; }

h1,
h2,
h3,
h4,
p {
  text-align: right;
  font-weight: 500;
  font-size: 11px;
  line-height: 25px;
  min-width: 50%;
  margin: 0;
  padding-right: 20px;
  box-sizing: border-box; }
  h1::before,
  h2::before,
  h3::before,
  h4::before,
  p::before {
    content: '';
    height: 100%; }
  h1::after,
  h2::after,
  h3::after,
  h4::after,
  p::after {
    content: '  :';
    height: 100%; }

input {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: black;
  background-color: white;
  border: none; }
  input.top {
    text-align: center;
    width: 100%;
    max-width: 50%;
    padding: 5px 10px;
    padding-left: 8px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    border-radius: 0 5px 5px 0; }
  input.bottom {
    font-size: 10px;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0 14px;
    border-bottom: 1px solid #ccc; }
  input.no-hover {
    color: #666666; }
  @media (hover: hover) {
    input:hover {
      cursor: pointer; }
    input.no-hover:hover {
      cursor: default; } }

button {
  min-width: 50px;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #e0e0e0; }
  @media (hover: hover) {
    button:hover {
      cursor: pointer;
      background: #d1d1d1; } }

.arrowicon {
  width: 25px;
  height: 16px;
  filter: invert(0.66);
  transition: 0.5s; }
  .arrowicon.flip {
    transform: scaleY(-1);
    transition: 0.5s; }

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 33; }
  .modal-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 5px; }
  .modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100%;
    padding-top: 15px; }

.bottom-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  width: 250px;
  padding: 15px 0; }
  .bottom-half > * {
    width: 100%; }
  .bottom-half .user-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px 0; }
    .bottom-half .user-item.button {
      height: 26px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%; }
      @media (hover: hover) {
        .bottom-half .user-item.button:hover {
          cursor: pointer;
          background-color: #f4f4f4; } }
    .bottom-half .user-item .no-edit {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      justify-content: flex-start;
      padding: 5px 10px;
      margin: 0 4px;
      box-sizing: border-box;
      width: calc(100% - 8px);
      border-bottom: 1px solid #ccc;
      transition: 0.3s;
      position: relative; }
      .bottom-half .user-item .no-edit.collapsed {
        border-bottom: 1px solid transparent;
        transition: 0.3s; }
      .bottom-half .user-item .no-edit .name {
        width: 35%;
        margin-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis; }
      .bottom-half .user-item .no-edit .amounts {
        width: 25%;
        font-size: 9px;
        color: #ccc; }
      .bottom-half .user-item .no-edit .arrow {
        position: absolute;
        right: 4px;
        top: 6px;
        height: 0; }
        @media (hover: hover) {
          .bottom-half .user-item .no-edit .arrow:hover {
            cursor: pointer; } }
    .bottom-half .user-item .edits {
      padding: 10px;
      overflow: hidden;
      height: 66px;
      transition: 0.35s; }
      .bottom-half .user-item .edits.collapsed {
        height: 0;
        padding: 0 10px;
        transition: 0.35s; }
    .bottom-half .user-item-inputs > * {
      width: 100%; }
    .bottom-half .user-item-inputs .segment {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .bottom-half .user-item-inputs .segment .title {
        width: 40%;
        font-size: 0.75em;
        line-height: 22px; }
      .bottom-half .user-item-inputs .segment .symbol {
        transform: translate(5px, -1px);
        width: 0; }
