@import '../variables';

.input-bubble {
  @include flex-center(column);

  width: 95%;
  min-height: 45px;
  max-height: 45px;

  border-radius: 5px;

  background-color: white;
  color: black;
}

input,
.outline-only {
  font-family: $font;
  font-size: 12px;
  text-align: center;
  color: black;

  width: 100%;
  max-width: 50%;

  background-color: white;

  padding: 5px 10px;
  padding-left: 8px;

  box-sizing: border-box;

  // border: 1px solid #ccc;
  // border-radius: 5px;

  border:none; 
  border-left: 1px solid #ccc;
  border-radius: 0 5px 5px 0;

  &.no-hover {
    border: none;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
    &.no-hover:hover {
      cursor: default;
    }
  }
}

button {
  min-width: 50px;

  padding: 10px;
  margin: 0 5px;

  border-radius: 5px;
  border: 1px solid #ccc;

  background: #e0e0e0;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      background: #d1d1d1;
    }
  }
}
