@import '../../variables';

.top-half {
  @include flex-center(column);
  top: 0;

  height: max-content;
  width: $appwidth;

  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  padding-bottom: 5px;

  & > * {
    width: 100%;
  }

  .segment {
    @include flex-center();
    justify-content: space-evenly;

    width: 100%;
    margin: 5px 0px;

    font-size: 17px;

    border: 1px solid #ccc;
    border-radius: 5px;

    box-sizing: border-box;

    .symbol {
      transform: translate(18px, 0px);
      width: 0;
      font-size: 11px;

      &.right {
        transform: translate(90px, 0);
      }
    }
  }

  .total-details {
    height: 98px;
    transition: 0.35s;
    overflow: hidden;

    &.include-clear-button {
      height: 120px;
    }

    &.collapsed {
      height: 0px;
      transition: 0.45s;
    }
  }
}
