@import '../../variables';

.top-half {
  @include flex-center(column);
  top: 0;

  width: $appwidth;

  border-bottom: 1px solid black;
  padding: 15px 0;

  &>*{
    width:100%;
  }

  .segment {
    @include flex-center();
    justify-content: space-evenly;

    width: 100%;
    margin: 5px 0px;

    font-size: 17px;

    border: 1px solid #ccc;
    border-radius: 5px;

    box-sizing: border-box;
  }

  .menu-bar {
    @include flex-center();
    box-sizing: border-box;
    background-color: #efefef;
    width: 100%;
    height: 16px;
    border-radius: 3px;

    overflow: hidden;
    transition: 1s;

    .tiny {
      @include flex-center(column);
      font-size: 11px;
      color: #515151;
      text-align: center;
      text-transform: capitalize;
    }

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .total-details {
    height: 98px;
    transition: 0.35s;
    overflow: hidden;

    &.include-clear-button{
      height: 120px;
    }

    &.collapsed {
      height: 0px;
      transition: 0.45s;
    }
  }
}
