@import './variables';

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 6px;
}

.app {
  @include flex-center(column);
  justify-content: flex-start;

  background-color: $bg-color;

  width: 100vw;
  height: 100vh;

  font-family: $font;
  font-size: 12px;

  &-title {
    @include flex-center();
    width: 100%;
    box-sizing: border-box;

    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: #666666;
    letter-spacing: 3px;

    padding: 8px;
    padding-bottom: 5px;

    border-bottom: 1px solid #666666;
  }

  &-card {
    margin-top: 10px;
    padding: 0 20px;

    box-sizing: border-box;

    background-color: white;

    border-radius: 6px;

    box-shadow: 3px 4px 5px #ccc;
  }

  // @media only screen and (min-width: 350px) {
  //   zoom: 1.5; /* Old IE only */
  //   -moz-transform: scale(1.5);
  //   -webkit-transform: scale(1.5);
  //   transform: scale(1.5);
  //   // transform-origin: 0;
  // }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.greytext {
  color: #666666;
}
