@import './variables';

// @use 'variables';
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 6px;
}

.root {
  background-color: $bg-color;
  width: 100vw;
  height: 100vh;
  @include flex-center();
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}