@import './variables';

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 6px;
}

.app {
  @include flex-center(column);
  justify-content: flex-start;

  background-color: $bg-color;

  width: 100vw;
  height: 100vh;

  font-family: $font;
  font-size: 12px;

  overflow-y: scroll;
  overflow-x: hidden;

  &-title {
    @include flex-center();
    width: 100%;
    box-sizing: border-box;

    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: #666666;
    letter-spacing: 3px;

    padding: 8px;
    padding-bottom: 5px;

    border-bottom: 1px solid #666666;
  }

  &-card {
    @include flex-center(column);
    width: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0 20px;
    padding-bottom: 5px;

    box-sizing: border-box;

    background-color: white;

    border-radius: 6px;

    box-shadow: 3px 4px 5px #ccc;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.greytext {
  color: #666666;
}

.small-text {
  padding: 6px;
  font-size: 10px;
  color: #515151;

  @media (hover: hover) {
    &.hover:hover {
      cursor: pointer;
      color: #0a474e;
      transform: scale(1);
      transition: 0.1s;
    }
  }
}

#uploadfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  // & + label {
  //   font-size: 10px;
  //   // background-color: #ccc;
  //   border-radius: 4px;
  //   color: #515151;
  //   @media (hover:hover){
  //     &:hover {
  //       cursor: pointer;

  //     }
  //   }
  // }
}

::-webkit-scrollbar {
  display: none;
  width: 2px;
  display: block;

  &-track {
    display: none;
  }

  /* Handle */
  &-thumb {
    background: grey;
    // border-radius: 7px;

    &:hover {
      background: white;
      cursor: pointer;
    }
  }
}
