$bg-color: #f4f4f4;

$font: 'Open Sans', sans-serif;
$appwidth: 250px;

@mixin flex-center($dir: row) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
  width: 100%;
}
