$bg-color: #001f3f;
$bg-color: #0074d9;
$bg-color: white;

$font: 'Open Sans', sans-serif;

@mixin flex-center($dir: row) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-self: center;
}
