@import '../variables';

.top-half {
  @include flex-center(column);
  position: absolute;
  top: 0;

  max-height: 200px;

  border-bottom: 1px solid black;
  padding: 15px 0;

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
    font-weight: 500;
    width: 100%;

    &::before {
      content: '';
      height: 100%;
    }
  }

  .segment {
    @include flex-center();
    justify-content: space-between;

    width: 100%;
  }
}
